
%meta{:charset => "utf-8"}
%meta{:name => "viewport", :content => "width=device-width, initial-scale=1"}
%link{:rel => "stylesheet", :href => "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"}
%link{:rel => :stylesheet, :type => :"text/css", :href => "/assets/css/application.css"}
%script{:src => "https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"}
%script{:src => "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"}

%body.container
	%h1 UPVTC Prospectus
	%ul
		= button_to "Sign up", new_accounts_path , :class => "click", :method => :get
		= button_to "Sign in" #sign in button