%h1 Edit Course
%body
= form_for(:course, :url => {controller: 'courses', :action => 'update'}) do |f|

  = f.label :course_title, 'Title:'
  = f.text_field :course_title, :value => @course.course_title
  = f.hidden_field :course_idt, value: @course.id
  = f.submit :Update
