%h1 Add New Course
%body
= form_for(:course, :url => {controller: 'courses', :action => 'create'}) do |f|

  = f.label :course_title, 'Title:'
  = f.text_field :course_title

  = f.submit :Create
