%ul.nav.nav-tabs.nav-stacked
%h1 Prospectus Management
%body
  -@courses.each do |course|
    %li= course.course_title
    = link_to 'Edit Course', edit_course_path(:course_id => course.id)

= button_to 'Add Prospectus',new_courses_path
