<!DOCTYPE html>
%html
  %head
    %title Prospectus
    = csrf_meta_tags

    = stylesheet_link_tag    'default', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'default', 'data-turbolinks-track': 'reload'

  %body
    = yield
