
-#= form_tag accounts_path do
-#    
-#    = label :accounts, :name, 'Username:'
-#    = text_field :accounts, :name
-#    
-#    = label :accounts, :password, 'Password:'
-#    = password_field :accounts, :password
-#
-#    = submit_tag 'Login'
//link to stylesheet local and online bootstrap
%meta{:charset => "utf-8"}
%meta{:name => "viewport", :content => "width=device-width, initial-scale=1"}
%link{:rel => "stylesheet", :href => "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"}
%link{:rel => :stylesheet, :type => :"text/css", :href => "/assets/css/application.css"}
%script{:src => "https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"}
%script{:src => "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"}

%body.container
  %h1 UserAuth | Signup
  %div{:class => "Sign_Form"}
    %h1 Create a faculty Account
    = form_for(:account, :url => {controller: 'accounts', action: 'create'}) do |f|
      = f.label :name, 'Username:'
      = f.text_field :name
       
      = f.label :password, 'Password:'
      = f.password_field :password
      -#%p Email: = f.text_field :email

      = f.label :password, 'Password Confirmation:'
      = f.password_field :password_confirmation
      
      = f.submit :Signup
//ayad ko la an notice
  %ul{:class => "Sign-up Notice"}
    %p Notice
    - if @account.errors.any?
      - @account.errors.full_messages.each do |msg|
        %li= msg
      %li= flash[:notice]
    - elsif !@account.errors.any?
      %li= flash[:notice]